html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
  padding: 20px;
  margin-top: 50px;
}
input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #EC407A!important;
  -webkit-box-shadow: 0 1px 0 0 #EC407A!important;
  box-shadow: 0 1px 0 0 #EC407A!important;
}